<div class="booking-container">

  <h2>My Bookings</h2>

  <div class="booking-row" *ngFor="let b of bookings">

    <div class="flight-info">
      <div class="airline">{{ b.airlineName }}</div>
      <div class="route">{{ b.fromPlace }} → {{ b.toPlace }}</div>
      <div class="time">
        {{ b.departureTime | date:'shortTime' }} -
        {{ b.arrivalTime | date:'shortTime' }}
      </div>
      <p>Date:{{ b.journeyDate | date:'dd MMM yyyy' }}</p>

    </div>

    <div class="details">
      <div>PNR: <b>{{ b.pnr }}</b></div>
      <div>Seats: {{ b.numberOfSeats }}</div>
      <div>Meal: {{ b.mealPreference }}</div>
      <div>Seats No: {{ b.seatNumbers }}</div>
    </div>

    <div class="status">
      <span [class.cancelled]="b.cancelled"
            [class.active]="!b.cancelled">
        {{ b.cancelled ? 'CANCELLED' : 'ACTIVE' }}
      </span>

      <button *ngIf="!b.cancelled"
              (click)="cancelBooking(b.pnr)">
        Cancel
      </button>
    </div>

  </div>

</div>
