<header class="top-bar">
  <div class="logo" routerLink="/">
    Flight Booking
  </div>

  <nav class="nav-actions">
    <button routerLink="/search">
      Search Flights
    </button>
    <ng-container *ngIf="!isLoggedIn()">
      <button routerLink="/login">Login</button>
      <button routerLink="/register">Register</button>
    </ng-container>
    <ng-container *ngIf="isLoggedIn()">
      <button routerLink="/profile">Profile</button>
      <button (click)="logout()">Logout</button>
    </ng-container>

  </nav>
</header>

<router-outlet></router-outlet>
