<header class="top-bar">
  <div class="left-group">
  <div class="logo" routerLink="/">
    Flight Booking
  </div>
  <button *ngIf="isAdmin()" class="admin-btn" (click)="goToAddFlight()">Add Flights</button>
  </div>

  <nav class="nav-actions">
    <button routerLink="/search">
      Search Flights
    </button>

    <ng-container *ngIf="!isLoggedIn()">
      <button routerLink="/login">Login</button>
      <button routerLink="/register">Register</button>
    </ng-container>

    <ng-container *ngIf="isLoggedIn()">
      <button routerLink="/my-bookings">My Bookings</button>
      
      <button routerLink="/profile">Profile</button>
      <button (click)="logout()">Logout</button>
    </ng-container>

  </nav>
</header>

<router-outlet></router-outlet>