<h2 *ngIf="!showResults">Search Flights</h2>
<form
  *ngIf="!showResults"
  [formGroup]="searchForm"
  (ngSubmit)="search()"
  class="search-box"
>
  <div>
    <label>From</label>
    <input type="text" formControlName="from" />
    <div class="error" *ngIf="searchForm.get('from')?.touched && searchForm.get('from')?.invalid">
      From location is required
    </div>
  </div>

  <div>
    <label>To</label>
    <input type="text" formControlName="to" />
    <div class="error" *ngIf="searchForm.get('to')?.touched && searchForm.get('to')?.invalid">
      To location is required
    </div>
  </div>
  <div>
    <label>Journey Date</label>
    <input type="date" formControlName="journeyDate" />
    <div class="error" *ngIf="searchForm.get('journeyDate')?.touched && searchForm.get('journeyDate')?.invalid">
      Journey date is required
    </div>
  </div>
  <div>
    <label>Trip Type</label>
    <select formControlName="tripType">
      <option value="">Select</option>
      <option value="ONE_WAY">One Way</option>
      <option value="ROUND_TRIP">Round Trip</option>
    </select>
    <div class="error" *ngIf="searchForm.get('tripType')?.touched && searchForm.get('tripType')?.invalid">
      Trip type is required
    </div>
  </div>
  <button type="submit">Search</button>
</form>
<div *ngIf="showResults">

  <h3 class="section-title">Available Flights</h3>

  <div class="btn-box">
    <button class="btn-primary" (click)="newSearch()">New Search</button>
  </div>
  <table *ngIf="flights.length > 0">
    <thead>
      <tr>
        <th>Airline</th>
        <th>From</th>
        <th>To</th>
        <th>Departure</th>
        <th>Arrival</th>
        <th>Price</th>
        <th>Seats</th>
        <th>Booking</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flight of flights">
        <td>{{ flight.airlineName }}</td>
        <td>{{ flight.fromPlace }}</td>
        <td>{{ flight.toPlace }}</td>
        <td>{{ flight.departureTime | date:'short' }}</td>
        <td>{{ flight.arrivalTime | date:'short' }}</td>
        <td>₹ {{ flight.priceOneWay }}</td>
        <td>{{ flight.availableSeats }}</td>
        <td>
        <button class="btn-primary"
                (click)="goToBooking(flight.flightId)">
          Book
        </button>
      </td>

      </tr>
    </tbody>
  </table>

</div>