.results-section {
  margin: 40px auto;
  width: 90%;
  max-width: 1100px;
}

.results-title {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
  color: #ff7a50;
  text-align: center;
}
.form-card.wide {
  width: 100%;
  max-width: 900px;
}


table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
}

th {
  background: #ff7a50;
  color: white;
}

th, td {
  padding: 12px;
  text-align: center;
}
.new-search-btn {
  margin-bottom: 15px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.autocomplete {
  position: relative;
}

.autocomplete ul {
  position: absolute;
  width: 100%;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  max-height: 180px;
  overflow-y: auto;
  z-index: 1000;
}

.autocomplete li {
  padding: 10px;
  cursor: pointer;
}

.autocomplete li:hover {
  background: #ff7a50;
  color: white;
}



