<h2 class="section-title">Search Flights</h2>

<form
  *ngIf="flights.length === 0"
  [formGroup]="searchForm"
  (ngSubmit)="search()"
  class="search-form"
>

  <div class="form-row">
    <div>
      <label>From</label>
      <input formControlName="fromPlace" />
    </div>

    <div>
      <label>To</label>
      <input formControlName="toPlace" />
    </div>

    <div>
      <label>Journey Date</label>
      <input type="date" formControlName="journeyDate" />
    </div>

    <div>
      <label>Trip Type</label>
      <select formControlName="tripType">
        <option value="ONE_WAY">One Way</option>
        <option value="ROUND_TRIP">Round Trip</option>
      </select>
    </div>

    <div class="btn-box">
  <label class="invisible-label">Search</label>
  <button class="btn-primary" type="submit">
    Search
  </button>
</div>

  </div>
</form>

<p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>

<div *ngIf="flights.length > 0" class="results-section">

  <div class="results-header">
    <h2>Available Flights</h2>
    <button class="btn-secondary" (click)="newSearch()">← New Search</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>From</th>
        <th>To</th>
        <th>Departure</th>
        <th>Arrival</th>
        <th>Price</th>
        <th>Seats</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let f of flights">
        <td>{{ f.airlineName }}</td>
        <td>{{ f.fromPlace }}</td>
        <td>{{ f.toPlace }}</td>
        <td>{{ f.departureTime | date:'dd MMM yyyy, HH:mm' }}</td>
        <td>{{ f.arrivalTime | date:'dd MMM yyyy, HH:mm' }}</td>
        <td>₹{{ f.priceOneWay }}</td>
        <td>{{ f.availableSeats }}</td>
      </tr>
    </tbody>
  </table>

</div>
