<div class="page-center">
  <div class="form-card">

    <h2>Add Flight</h2>

    <form [formGroup]="flightForm" (ngSubmit)="submit()">

      <div class="form-grid">

        <div class="form-group">
          <label>Airline Name</label>
          <input type="text" formControlName="airlineName" />
        </div>

        <div class="form-group">
          <label>Flight Number</label>
          <input type="text" formControlName="flightNumber" />
        </div>

        <div class="form-group">
          <label>From</label>
          <input type="text" formControlName="fromPlace" />
        </div>

        <div class="form-group">
          <label>To</label>
          <input type="text" formControlName="toPlace" />
        </div>

        <div class="form-group">
          <label>Departure Time</label>
          <input type="datetime-local" formControlName="departureTime" [min]="minDepartureDateTime" />
        </div>

        <div class="form-group">
          <label>Arrival Time</label>
          <input type="datetime-local" formControlName="arrivalTime"  [min]="minArrivalDateTime"/>
        </div>

        <div class="form-group">
          <label>Price (One Way)</label>
          <input type="number" formControlName="priceOneWay" />
        </div>

        <div class="form-group">
          <label>Total Seats</label>
          <input type="number" formControlName="totalSeats" />
        </div>

        <div class="form-group full-width">
          <label>Trip Type</label>
          <select formControlName="tripType">
            <option value="ONE_WAY">ONE WAY</option>
            <option value="ROUND_TRIP">ROUND TRIP</option>
          </select>
        </div>

      </div>

      <button type="submit" class="primary-btn">
        Add Flight
      </button>

      <p class="success" *ngIf="successMsg">{{ successMsg }}</p>
      <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>

    </form>

  </div>
</div>
